<!DOCTYPE html>
<html lang="en">
    <%-include('layouts/head');-%>
    <body>
        <!-- Navigation-->
        <%-include('layouts/navbar');-%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets<%= blog.image %>')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Modify Blog Content and Update</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <form id="contactForm" action="/updateBlog/<%=blog._id %>" method="post" enctype="multipart/form-data">
                                <div class="form-floating">
                                    <input class="form-control" id="title" type="text" name="title" placeholder="Title" value="<%= blog.title %>"/>
                                    <label for="title">Title</label>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="description" type="text" name="description" placeholder="Description about Blog" value="<%= blog.description %>"/>
                                    <label for="description">Description</label>
                                </div>
                                <br />
                                <button class="btn btn-primary" id="submitButton" type="submit">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <%-include('layouts/footer');-%>
        <!-- Bootstrap core JS-->
        <%-include('layouts/script');-%> 

    </body>
</html>
